*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    display: flex;
    flex-wrap: wrap;
}

.body p{
    margin-right: 1.5vw;
    font-weight: 500;
}

.body span{
    opacity: 0.2;;
}
